.Folders__item {
    box-shadow: 5px 5px 15px;
    height: 100px;
    display: flex;
    margin: 10px;
    width: 350px;
}

.Folders__image {
    height: 100px; 
    width: 30%
}

.Folders__information {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20px;
    width: 70%
}

.Folders__toggle {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    width: 70%
}

.Folders__name {
    margin: 0;
    font-size: 19px
}

.Folders__added {
    font-size: 12px
}

.Folders__item:hover {
    cursor: pointer;
    background: lightgrey
}

.fa-2x {
    font-size: 25px;
    height: 100px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}